<!DOCTYPE html>
<html>
<head>
    <title>{{ user }} - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="users-header">
        <h1>{{ user }}</h1>
    </div>
    <div class="movies-list">
        <ul>
            {% for movie in movies %}
            <li>
                <div class="card">
                    {{ movie["title"] }}
                    <div class="btn-container">
                        <a href="/users/{{ user['id'] }}/edit/{{ movie['id'] }}" class="btn">Edit</a>
                        <a href="/users/{{ user['id'] }}/delete/{{ movie['id'] }}" class="btn">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="add-movie-button">
        <a href="{{ url_for('add_movie', user_id=id) }}" class="btn">Add Movie</a>
    </div>
</body>
</html>
